@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --font1: "Sriracha", cursive;
    --font2: "Passion One", sans-serif;
    --font3: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}



a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header {
    font-family: var(--font3);
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font2);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

main {
    background-color: lightgray;
}


.normal {
    background-color: white;
}

.bg {
    background-color: rgba(0, 0, 0, 0.37);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.525);
    color: white;
}

.bg p {
    background-color: rgba(0, 0, 0, 0.399);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#background1 {
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#background2 {
    background-image: url('imagens/background002.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    font-family: var(--font1);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}


footer * {
    font-family: var(--font3);
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 30px;
}